<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/addItens.css">
    <title>Itens de Manutenção</title>
  </head>
  <body>
    <div id="container_geral">
      <img id="logo" src="./../imagens/logo_ex.png">
      <hr>
        <table id="tbl_item">
          <tr>
            <td>
              <label>Item:</label>
            </td>
            <td>
              <input type="text" name="txt_item">
            </td>
          </tr>
            <tr>
              <td>
                <label>Descricao:</label>
              </td>
              <td>
                <input type="text" name="txt_desc">
              </td>
            </tr>
            <tr>
              <td>
                <label>Intervalo:</label>
              </td>
              <td>
                <input type="text" name="txt_intervalo">
              </td>
            </tr>
            <tr>
              <th colspan="2">
                <input type="submit" value="Salvar" >
              </th>
            </tr>
        </table>
      <hr>
      <div id="container_voltar">
        <a id="btn_voltar" href="itens.html">
         <img src="./../imagens/back-arrow.png"/>
         <h1> Voltar </h1>
       </a>
     </div>
    </div>
  </body>
</html>
