<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/addMotorista.css">
    <script src="./../comuns.js"></script>
    <title>Recursos Humanos</title>
  </head>
  <body>
    <div id="container_geral">
      <img id="logo" src="./../imagens/logo_ex.png">
      <hr>
      <form>
      <table id="tbl_motorista">
        <tr>
          <td>
            <label>Nome:</label>
          </td>
          <td>
            <input type="text" id="txt_nome" maxlength="45" required>
          </td>
          <td>
            <label>Sobrenome:</label>
          </td>
          <td>
            <input type="text" id="txt_sobrenome" maxlength="70" required>
          </td>
        </tr>
        <tr>
          <td>
            <label>RG:</label>
          </td>
          <td>
            <input type="number" id="txt_rg" maxlength="12" onKeyDown="if(this.value.length==12) return false;" required>
          </td>
          <td>
            <label>CPF:</label>
          </td>
          <td>
            <input type="text" id="txt_cpf"  onkeypress="return mask(event, this, '###.###.###-##')" maxlength="14" required>
          </td>
        </tr>
        <tr>
          <td>
            <label>CNH:</label>
          </td>
          <td>
            <input type="number" id="txt_cnh"  onKeyDown="if(this.value.length==11) return false;" required>
          </td>
          <td>
            <label>Nascimento:</label>
          </td>
          <td>
            <input type="date" id="txt_dtNasc" required>
          </td>
        </tr>
        <!--
        <tr>
          <td>
            <label>CEP:</label>
          </td>
          <td>
            <input type="text" id="txt_cep">
          </td>
          <td>
            <label>Logradouro:</label>
          </td>
          <td>
            <input type="text" id="txt_logradouro">
          </td>
        </tr>
        <tr>
          <td>
            <label>Bairro:</label>
          </td>
          <td>
            <input type="text" id="txt_bairro">
          </td>
          <td>
            <label>Cidade:</label>
          </td>
          <td>
            <input type="text" id="txt_cidade">
            <select name="slt_estado">
              <option value="0">SP</option>
            </select>
          </td>
        </tr>-->
        <tr>
          <td>
            <label>Telefone:</label>
          </td>
          <td>
            <input type="text" id="txt_telefone"  onkeypress="return mask(event, this, '(##) ####-####')" maxlength="14" required>
          </td>
          <td>
            <label>Celular:</label>
          </td>
          <td>
            <input type="text" id="txt_celular"  onkeypress="return mask(event, this, '(##) #####-####')" maxlength="15" required>
          </td>
        </tr>
        <tr>
          <td>
            <label>Email:</label>
          </td>
          <td>
            <input type="email" id="txt_email" maxlength="70" required>
          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
      </table>
      <input type="submit" id="btn_ok" value="Adicionar">
    </form>
      <hr>
      <div id="container_voltar">
        <a id="btn_voltar" href="motorista.html">
         <img src="./../imagens/back-arrow.png"/>
         <h1> Voltar </h1>
       </a>
     </div>
    </div>
  </body>
  <script>
    require('./js/addMotorista_renderer')
  </script>
</html>
