<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/addMotorista.css">
    <title>Recursos Humanos</title>
  </head>
  <body>
    <div id="container_geral">
      <img id="logo" src="./../imagens/logo_ex.png">
      <hr>
      <table id="tbl_motorista">
        <tr>
          <td>
            <label>Nome:</label>
          </td>
          <td>
            <input type="text" name="txt_nome">
          </td>
          <td>
            <label>Sobrenome:</label>
          </td>
          <td>
            <input type="text" name="txt_sobrenome">
          </td>
        </tr>
        <tr>
          <td>
            <label>RG:</label>
          </td>
          <td>
            <input type="text" name="txt_rg">
          </td>
          <td>
            <label>CPF:</label>
          </td>
          <td>
            <input type="text" name="txt_cpf">
          </td>
        </tr>
        <tr>
          <td>
            <label>CNH:</label>
          </td>
          <td>
            <input type="text" name="txt_cnh">
          </td>
          <td>
            <label>Nascimento:</label>
          </td>
          <td>
            <input type="date" name="txt_dtNasc">
          </td>
        </tr>
        <tr>
          <td>
            <label>CEP:</label>
          </td>
          <td>
            <input type="text" name="txt_cep">
          </td>
          <td>
            <label>Logradouro:</label>
          </td>
          <td>
            <input type="text" name="txt_logradouro">
          </td>
        </tr>
        <tr>
          <td>
            <label>Bairro:</label>
          </td>
          <td>
            <input type="text" name="txt_bairro">
          </td>
          <td>
            <label>Cidade:</label>
          </td>
          <td>
            <input type="text" name="txt_cidade">
            <select name="slt_estado">
              <option value="0">SP</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label>Telefone:</label>
          </td>
          <td>
            <input type="text" name="txt_telefone">
          </td>
          <td>
            <label>Celular:</label>
          </td>
          <td>
            <input type="text" name="txt_celular">
          </td>
        </tr>
        <tr>
          <td>
            <label>Email:</label>
          </td>
          <td>
            <input type="text" name="txt_email">
          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
      </table>
      <div id="btn_ok">
        <a href="#">Adicionar</a>
      </div>
      <hr>
      <div id="container_voltar">
        <a id="btn_voltar" href="usuario.html">
         <img src="./../imagens/back-arrow.png"/>
         <h1> Voltar </h1>
       </a>
     </div>
    </div>
  </body>
</html>
