<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/addOnibus.css">
    <script src="./../comuns.js"></script>
    <title>Recursos Humanos</title>
  </head>
  <body>
    <div id="container_geral">
      <img id="logo" src="./../imagens/logo_ex.png">
      <hr>
      <form>
      <table id="tbl_onibus">
        <tr>
          <td>
            <label>Número de fabricação:</label>
          </td>
          <td>
            <input type="text" id="txt_numFab" maxlength="9" required>
          </td>
        </tr>
        <tr>
          <td>
            <label>Placa:</label>
          </td>
          <td>
            <input type="text" id="txt_placa" onkeypress="return maskText(event, this, '###-####')" maxlength="8" required>
          </td>
        </tr>
        <tr>
          <td>
            <label>Descrição:</label>
          </td>
          <td>
            <textarea id="txt_desc" maxlength="3000" required></textarea>
          </td>
        </tr>
        <tr>
          <td>
            <label>Tipo:</label>
          </td>
          <td>
            <select id="slt_tipo">
              <option value="1">Micro Ônibus</option>
              <option value="2">Tradicional</option>
              <option value="3">Executivo Básico</option>
              <option value="4">Executivo Premium</option>
            </select>
          </td>
        </tr>
      </table>
      <input type="submit" id="btn_ok" value="Adicionar">
    </form>
      <hr>
      <div id="container_voltar">
        <a id="btn_voltar" href="onibus.html">
         <img src="./../imagens/back-arrow.png"/>
         <h1> Voltar </h1>
       </a>
     </div>
    </div>
  </body>
  <script>
    require('./js/addOnibus_renderer')
  </script>
</html>
