<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/addUsuario.css">
    <title>Recursos Humanos</title>
  </head>
  <body>
    <div id="container_geral">
      <img id="logo" src="./../imagens/logo_ex.png">
      <hr>
      <table id="tbl_usuario">
        <tr>
          <td>
            <label>Nome:</label>
          </td>
          <td>
            <input type="text" name="txt_nome">
          </td>
        </tr>
        <tr>
          <td>
            <label>Sobrenome:</label>
          </td>
          <td>
            <input type="text" name="txt_sobrenome">
          </td>
        </tr>
        <tr>
          <td>
            <label>CPF:</label>
          </td>
          <td>
            <input type="text" name="txt_cpf">
          </td>
        </tr>
        <tr>
          <td>
            <label>Email:</label>
          </td>
          <td>
            <input type="text" name="txt_email">
          </td>
        </tr>
        <tr>
          <td>
            <label>Senha:</label>
          </td>
          <td>
            <input type="password" name="txt_senha">
          </td>
        </tr>
        <tr>
        <tr>
          <td>
            <label>Setor:</label>
          </td>
          <td>
            <select name="slt_setor">
              <option value="0">Manutenção</option>
              <option value="0">Recursos Humanos</option>
              <option value="0">Contabilidade</option>
              <option value="0">Administração</option>
            </select>
          </td>
        </tr>
      </table>
      <div id="btn_ok">
        <a href="#">Adicionar</a>
      </div>
      <hr>
      <div id="container_voltar">
        <a id="btn_voltar" href="usuario.html">
         <img src="./../imagens/back-arrow.png"/>
         <h1> Voltar </h1>
       </a>
     </div>
    </div>
  </body>
</html>
