<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/addUsuario.css">
    <script src="./../comuns.js"></script>
    <title>Recursos Humanos</title>
  </head>
  <body>
    <div id="container_geral">
      <img id="logo" src="./../imagens/logo_ex.png">
      <hr>
      <table id="tbl_usuario">
        <tr>
          <td>
            <label>Nome:</label>
          </td>
          <td>
            <input type="text" id="txt_nome" maxlength="100" required>
          </td>
        </tr>
        <tr>
          <td>
            <label>Sobrenome:</label>
          </td>
          <td>
            <input type="text" id="txt_sobrenome" maxlength="100"  required>
          </td>
        </tr>
        <tr>
          <td>
            <label>CPF:</label>
          </td>
          <td>
            <form name="cpf">
            <input type="text" name="cpf" id="txt_cpf" onkeypress="return mask(event, this, '###.###.###-##')" onblur="ValidarCPF(form.cpf);" maxlength="14" required>
          </form>
          </td>
        </tr>
        <tr>
          <td>
            <label>Email:</label>
          </td>
          <td>
            <input type="text" id="txt_email" maxlength="200"  required>
          </td>
        </tr>
        <tr>
          <td>
            <label id="label_senha">Senha:</label>
          </td>
          <td>
            <input type="password" id="txt_senha" maxlength="100"  required>
          </td>
        </tr>
        <tr>
        <tr>
          <td>
            <label>Setor:</label>
          </td>
          <td>
            <select id="slt_setor">
              <option value="1">Manutenção</option>
              <option value="2">Recursos Humanos</option>
              <option value="3">Contabilidade</option>
              <option value="0">Administração</option>
            </select>
          </td>
        </tr>
      </table>
      <input type="button" id="btn_ok" value="Adicionar">
      <hr>
      <div id="container_voltar">
        <a id="btn_voltar" href="usuario.html">
         <img src="./../imagens/back-arrow.png"/>
         <h1> Voltar </h1>
       </a>
     </div>
    </div>
  </body>
  <script>
    require('./js/addUsuario_renderer');
  </script>
</html>
