<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/financeiro.css">
    <script src="./../comuns.js"></script>
    <title>Financeiro</title>
  </head>
  <body>
    <div id="container_geral">
      <img id="logo" src="./../imagens/logo_ex.png">
      <hr>
      <h1 id="lucro">
        Lucro em Maio : R$1018,00
      </h1>
      <div id="container_slt">
      <select id="select_mes">
      	<option value="01" selected>Janeiro</option>
      	<option value="02">Fevereiro</option>
      	<option value="03">Março</option>
      	<option value="04">Abril</option>
      	<option value="05">Maio</option>
      	<option value="06">Junho</option>
      	<option value="07">Julho</option>
      	<option value="08">Agosto</option>
      	<option value="09">Setembro</option>
      	<option value="10">Outubro</option>
      	<option value="11">Novembro</option>
      	<option value="12">Dezembro</option>
      </select>
      </div>
      <table id="tbl_viagens">
        <thead>
        <tr>
          <th>
            Saída
          </th>
          <th>
            Destino
          </th>
          <th>
            Passagens vendidas
          </th>
          <th>
            Receitas
          </th>
          <th>
            Data
          </th>
        </tr>
      </thead>
      <tbody id="dados">
        <tr v-for="(viagem , index) in viagens" >
          <td>
            {{viagem.saida}}
          </td>
          <td>
            {{viagem.destino}}
          </td>
          <td>
            {{viagem.compradas}}
          </td>
          <td>
            R${{viagem.receita}}
          </td>
          <td>
            {{viagem.data}}
          </td>
        </tr>
      </tbody>
      </table>
      <hr>
      <div id="container_voltar">
        <a id="btn_voltar" href="menu.html">
         <img src="./../imagens/back-arrow.png"/>
         <h1> Voltar </h1>
       </a>
    </div>
   </div>
  </body>
  <script>
    require('./js/financeiro_renderer')
  </script>
</html>
