<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/financeiro.css">
    <script src="./../comuns.js"></script>
    <title>Financeiro</title>
  </head>
  <body>
    <div id="container_geral">
      <img id="logo" src="./../imagens/logo_ex.png">
      <hr>
      <h1 id="lucro">
        Lucro em Maio : R$1018,00
      </h1>
      <table id="tbl_viagens">
        <thead>
        <tr>
          <th>
            Saída
          </th>
          <th>
            Destino
          </th>
          <th>
            Receitas
          </th>
          <th>
            Data
          </th>
          <th>
            Detalhes
          </th>
        </tr>
      </thead>
      <tbody id="dados">
        <tr v-for="(viagem , index) in viagens" >
          <td>
            {{viagem.saida}}
          </td>
          <td>
            {{viagem.destino}}
          </td>
          <td>
            R${{viagem.receita}}
          </td>
          <td>
            {{viagem.data}}
          </td>
          <td>
            <a href="#">
              <img src="./../imagens/eye.png">
            </a>
          </td>
        </tr>
      </tbody>
      </table>
      <hr>
      <div id="container_voltar">
        <a id="btn_voltar" href="menu.html">
         <img src="./../imagens/back-arrow.png"/>
         <h1> Voltar </h1>
       </a>
    </div>
   </div>
  </body>
  <script>
    require('./js/financeiro_renderer')
  </script>
</html>
