<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/financeiro.css">
    <title>Financeiro</title>
  </head>
  <body>
    <div id="container_geral">
      <img id="logo" src="./../imagens/logo_ex.png">
      <hr>
      <h1>
        Lucro em Maio : R$1018,00
      </h1>
      <table id="tbl_viagens">
        <tr>
          <th>
            Saída
          </th>
          <th>
            Destino
          </th>
          <th>
            Receitas
          </th>
          <th>
            Gastos
          </th>
          <th>
            Lucros
          </th>
          <th>
            Data
          </th>
          <th>
            Detalhes
          </th>
        </tr>
        <tr>
          <td>
            São Paulo
          </td>
          <td>
            Rio de Janeiro
          </td>
          <td>
            R$1009,00
          </td>
          <td>
            R$500,00
          </td>
          <td>
            R$509,00
          </td>
          <td>
            05/05/2018
          </td>
          <td>
            <a href="#">
              <img src="./../imagens/eye.png">
            </a>
          </td>
        </tr>
        <tr>
          <td>
            São Paulo
          </td>
          <td>
            Rio de Janeiro
          </td>
          <td>
            R$1009,00
          </td>
          <td>
            R$500,00
          </td>
          <td>
            R$509,00
          </td>
          <td>
            05/05/2018
          </td>
          <td>
            <a href="#">
              <img src="./../imagens/eye.png">
            </a>
          </td>
        </tr>

      </table>
      <hr>
    </div>
    <div id="container_voltar">
      <a id="btn_voltar" href="menu.html">
       <img src="./../imagens/back-arrow-white.png"/>
       <h1> Voltar </h1>
     </a>
   </div>
  </body>
</html>
