<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/manutencao.css">
    <title>Itens de Manutenção</title>
  </head>
  <body>
    <div id="container_geral">
      <img id="logo" src="./../imagens/logo_ex.png">
      <hr>
      <div id="btn_itens">
        <a href="addItens.html">Adicionar Item</a>
      </div>
      <table id="tbl_veiculos">
        <tr>
          <th>
            Item
          </th>
          <th>
            Intervalo
          </th>
          <th>
            Remover
          </th>
        </tr>
        <tr>
          <td>
            Balanceamento
          </td>
          <td>
            15000
          </td>
          <td>
            <a href="#">
              <img src="./../imagens/remove.png">
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Troca de Óleo
          </td>
          <td>
            10000
          </td>
          <td>
            <a href="#">
              <img src="./../imagens/remove.png">
            </a>
          </td>
        </tr>
      </table>
      <hr>
      <div id="container_voltar">
        <a id="btn_voltar" href="manutencao.html">
         <img src="./../imagens/back-arrow.png"/>
         <h1> Voltar </h1>
       </a>
     </div>
    </div>
  </body>
</html>
