<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/manutencao.css">
    <script src="./../comuns.js"></script>
    <title>Itens de Manutenção</title>
  </head>
  <body>
    <div id="container_geral">
      <img id="logo" src="./../imagens/logo_ex.png">
      <hr>
      <div id="btn_itens">
        <a href="addItens.html">Adicionar Item</a>
      </div>
      <table id="tbl_veiculos">
        <thead>
        <tr>
          <th>
            Item
          </th>
          <th>
            Intervalo
          </th>
          <th>
            Remover
          </th>
        </tr>
        </thead>
        <tbody id="dados">
        <tr v-for="(item , index) in itens">
          <td>
            {{item.item}}
          </td>
          <td>
            {{item.intervalo}}
          </td>
          <td>
            <a href="#"  @click.prevent="remover(index)">
              <img src="./../imagens/remove.png">
            </a>
          </td>
        </tr>
      </tbody>
      </table>
      <hr>
      <div id="container_voltar">
        <a id="btn_voltar" href="manutencao.html">
         <img src="./../imagens/back-arrow.png"/>
         <h1> Voltar </h1>
       </a>
     </div>
    </div>
  </body>
  <script>
    require('./js/itens_renderer')
  </script>
</html>
