<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/manutencao.css">
  </head>
  <body>
    <div id="container_geral">
      <img id="logo" src="./../imagens/logo_ex.png">
      <hr>
      <div id="btn_itens">
        <a href="#">Adicionar Item</a>
      </div>
      <table id="tbl_veiculos">
        <tr>
          <th>
            Modelo
          </th>
          <th>
            Placa
          </th>
          <th>
            Abertura
          </th>
          <th>
            Realizar
          </th>
        </tr>
        <tr>
          <td>
            Mercedes Bens V7
          </td>
          <td>
            CMN-2869
          </td>
          <td>
            27/05/2018
          </td>
          <td>
            O
          </td>
        </tr>
        <tr>
          <td>
            Mercedes Bens V7
          </td>
          <td>
            CMN-2869
          </td>
          <td>
            27/05/2018
          </td>
          <td>
            O
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
