<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/manutencao.css">
    <title>Manutenção</title>
  </head>
  <body>
    <div id="container_geral">
      <img id="logo" src="./../imagens/logo_ex.png">
      <hr>
      <div id="btn_itens">
        <a href="itens.html">Itens da Manutenção</a>
      </div>
      <table id="tbl_veiculos">
        <thead>
        <tr>
          <th>
            Modelo
          </th>
          <th>
            Placa
          </th>
          <th>
            Abertura
          </th>
          <th>
            Realizar
          </th>
        </tr>
      </thead>
      <tbody id="dados">
        <tr v-for="( ficha , index) in fichas">
          <td>
            {{ficha.tipo}}
          </td>
          <td>
            {{ficha.placa}}
          </td>
          <td>
            {{ficha.abertura}}
          </td>
          <td>
            <a href="#"  @click.prevent="abrir(index)">
              <img src="./../imagens/eye.png">
            </a>
          </td>
        </tr>
      </tbody>
      </table>
      <hr>
      <div id="container_voltar">
        <a id="btn_voltar" href="menu.html">
         <img src="./../imagens/back-arrow.png"/>
         <h1> Voltar </h1>
       </a>
     </div>
    </div>
  </body>
  <script>
    require('./js/manutencao_renderer')
  </script>
</html>
