<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <title>Menu - Viação Asteroide</title>
    <script src="./../comuns.js"></script>
  </head>
  <body>
    <script>
      console.log( "idUsuario : " +  sessionStorage.getItem("idUsuario") );
      console.log( "Nivel : " +  sessionStorage.getItem("nivel") );
    </script>
    <table id="tbl_menu">
      <tr>
        <td>
          <div class="btn_menu">
            <a href="manutencao.html"><img src="../imagens/manutencao.png"> </a>
          </div>
        </td>
        <td>
          <div class="btn_menu">
            <a href="recursosHumanos.html"><img src="../imagens/cadastrar.png"> </a>
          </div>
        </td>
        <td>
          <div class="btn_menu">
            <a href="financeiro.html"><img src="../imagens/financeiro.png"> </a>
          </div>
        </td>
      </tr>
    </table>
    <div id="container_deslogar">
      <a id="btn_deslogar" href="#">
       <img src="./../imagens/exit.png"/>
       <h1> Sair </h1>
     </a>
   </div>
  <script>
    require('./js/menu_renderer')
  </script>
  </body>
</html>
