<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <title>Menu - Viação Asteroide</title>
  </head>
  <body>

    <table id="tbl_menu">
      <tr>
        <td>
          <div class="btn_menu">
            <a href="#"><img src="../imagens/manutencao.png"> </a>
          </div>
        </td>
        <td>
          <div class="btn_menu">
            <a href="#"><img src="../imagens/cadastrar.png"> </a>
          </div>
        </td>
        <td>
          <div class="btn_menu">
            <a href="#"><img src="../imagens/financeiro.png"> </a>
          </div>
        </td>
      </tr>
    </table>

  <script>
    require('./js/menu_renderer.js')
  </script>
  </body>
</html>
