<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/motorista.css">
    <title>Recursos Humanos</title>
  </head>
  <body>
    <div id="container_geral">
      <img id="logo" src="./../imagens/logo_ex.png">
      <hr>
      <div id="btn_itens">
        <a href="#">Adicionar Motorista</a>
      </div>
      <table id="tbl_motorista">
        <tr>
          <th>
            Nome
          </th>
          <th>
            Admissão
          </th>
          <th>
            Telefone
          </th>
          <th>
            Visualizar
          </th>
          <th>
            Excluir
          </th>
        </tr>
        <tr>
          <td>
            Matheus Alves de Souza
          </td>
          <td>
            15/01/2018
          </td>
          <td>
            980197434
          </td>
          <td>
            <a href="#">
              <img src="./../imagens/eye.png">
            </a>
          </td>
          <td>
            <a href="#">
              <img src="./../imagens/remove.png">
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Matheus Alves de Souza
          </td>
          <td>
            15/01/2018
          </td>
          <td>
            980197434
          </td>
          <td>
            <a href="#">
              <img src="./../imagens/eye.png">
            </a>
          </td>
          <td>
            <a href="#">
              <img src="./../imagens/remove.png">
            </a>
          </td>
        </tr>
      </table>
      <hr>
      <div id="container_voltar">
        <a id="btn_voltar" href="recursosHumanos.html">
         <img src="./../imagens/back-arrow.png"/>
         <h1> Voltar </h1>
       </a>
     </div>
    </div>
  </body>
</html>
