<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/motorista.css">
    <script src="./../comuns.js"></script>
    <title>Recursos Humanos</title>
  </head>
  <body>
    <div id="container_geral">
      <img id="logo" src="./../imagens/logo_ex.png">
      <hr>
      <div id="btn_itens">
        <a href="addMotorista.html">Adicionar Motorista</a>
      </div>
      <table id="tbl_motorista">
        <thead>
        <tr>
          <th>
            Nome
          </th>
          <th>
            CPF
          </th>
          <th>
            Celular
          </th>
          <th>
            Visualizar
          </th>
          <th>
            Excluir
          </th>
        </tr>
        </thead>
        <tbody id="dados">
        <tr v-for="( motorista , index ) in motoristas">
          <td>
            {{motorista.nome}}
          </td>
          <td>
            {{motorista.CPF}}
          </td>
          <td>
            {{motorista.celular}}
          </td>
          <td>
            <a href="#" @click.prevent="editar(index)">
              <img src="./../imagens/eye.png">
            </a>
          </td>
          <td>
            <a href="#" @click.prevent="remover(index)">
              <img src="./../imagens/remove.png">
            </a>
          </td>
        </tr>
        <tbody>
      </table>
      <hr>
      <div id="container_voltar">
        <a id="btn_voltar" href="recursosHumanos.html">
         <img src="./../imagens/back-arrow.png"/>
         <h1> Voltar </h1>
       </a>
     </div>
   </div>
  </body>
  <script>
    require('./js/motorista_renderer');
    sessionStorage.setItem("idMotorista", 0);
  </script>
</html>
