<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/onibus.css">
    <title>Recursos Humanos</title>
  </head>
  <body>
    <div id="container_geral">
      <img id="logo" src="./../imagens/logo_ex.png">
      <hr>
      <div id="btn_itens">
        <a href="addOnibus.html">Adicionar Onibus</a>
      </div>
      <table id="tbl_veiculos">
        <tr>
          <th>
            Modelo
          </th>
          <th>
            Placa
          </th>
          <th>
            Lugares
          </th>
          <th>
            Visualizar
          </th>
          <th>
            Excluir
          </th>
        </tr>
        <tr>
          <td>
            Mercedes Bens V7
          </td>
          <td>
            CMN-2869
          </td>
          <td>
            44
          </td>
          <td>
            <a href="#">
              <img src="./../imagens/eye.png">
            </a>
          </td>
          <td>
            <a href="#">
              <img src="./../imagens/remove.png">
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Mercedes Bens V7
          </td>
          <td>
            CMN-2869
          </td>
          <td>
            44
          </td>
          <td>
            <a href="#">
              <img src="./../imagens/eye.png">
            </a>
          </td>
          <td>
            <a href="#">
              <img src="./../imagens/remove.png">
            </a>
          </td>
        </tr>
      </table>
      <hr>
      <div id="container_voltar">
        <a id="btn_voltar" href="recursosHumanos.html">
         <img src="./../imagens/back-arrow.png"/>
         <h1> Voltar </h1>
       </a>
     </div>
    </div>
  </body>
</html>
