<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/recursosHumanos.css">
    <title>Menu RH - Viação Asteroide</title>
  </head>
  <body>

    <table id="tbl_menu">
      <tr>
        <td>
          <div class="btn_menu">
            <a href="onibus.html"><img src="../imagens/bus.png"> </a>
          </div>
        </td>
        <td>
          <div class="btn_menu">
            <a href="motorista.html"><img src="../imagens/driver.png"> </a>
          </div>
        </td>
        <td>
          <div class="btn_menu">
            <a href="usuario.html"><img src="../imagens/users.png"> </a>
          </div>
        </td>
      </tr>
    </table>
    <div id="container_voltar">
      <a id="btn_voltar" href="menu.html">
       <img src="./../imagens/back-arrow-white.png"/>
       <h1> Voltar </h1>
     </a>
   </div>
  <script>
    
  </script>
  </body>
</html>
