<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/usuario.css">
    <script src="./../comuns.js"></script>
    <title>Recursos Humanos</title>
  </head>
  <body>
    <div id="container_geral">
      <img id="logo" src="./../imagens/logo_ex.png">
      <hr>
      <div id="btn_itens">
        <a href="addUsuario.html">Adicionar Usuário</a>
      </div>
      <table id="tbl_usuario">
        <thead>
          <tr>
            <th>
              Nome
            </th>
            <th>
              CPF
            </th>
            <th>
              Setor
            </th>
            <th>
              Visualizar
            </th>
            <th>
              Excluir
            </th>
          </tr>
        </thead>
        <tbody id="dados">
          <tr v-for="(usuario , index) in usuarios">
            <td >
              {{usuario.nome}}
            </td>
            <td >
              {{usuario.cpf}}
            </td>
            <td >
              {{usuario.nomeNivel}}
            </td>
            <td >
              <a href="#">
                <img src="./../imagens/eye.png">
              </a>
            </td>
            <td>
              <a href="#" @click.prevent="remover(index)">
                <img src="./../imagens/remove.png">
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
      <div id="container_voltar">
        <a id="btn_voltar" href="recursosHumanos.html">
         <img src="./../imagens/back-arrow.png"/>
         <h1> Voltar </h1>
       </a>
     </div>
    </div>
  </body>
  <script>
    require('./js/usuario_renderer')
  </script>
</html>
